<template name="showUsers">
    <div class="row">
        <h4><span class="label label-success">List of users:</span></h4>
        <ul class="list list-group">
            {{#each showAllUsers}}
                <div class="list-group-item">
                    <div class="list-group-item-heading" id="content-heading-list">
                        <h4>Username : {{username}}</h4>
                        <h5>email : {{email}}</h5>
                    </div>
                    <div class="dropdown pull-right btn-group btn-group-vertical">
                            <button class="btn btn-danger pull-right" id="btn-remove">Remove</button>
                            <button class="btn btn-primary dropdown-toggle"
                                type="button" data-toggle="dropdown" id="toggle-btn">Modifier
                                 <span class="caret"></span>
                            </button>
                           <form class="dropdown-menu" id="update-form">
                               <input type="text" data-user-id="{{_id}}" placeholder="new username" class="form-control" id="new-username"/>
                               <input type="text" data-user-id="{{_id}}" placeholder="new email" class="form-control" id="new-email"/>
                               <input type="submit" value="ok" class="btn btn-primary pull-right">
                           </form>
                    </div>

                </div>
            {{/each}}
        </ul>
        <button class="btn btn-danger btn-custom" id="remove-all">Remove all</button>
    </div>
</template>
